<input type="text" placeholder="Imię" #studentName />
<input type="text" placeholder="Nazwisko" #studentSurname />
<input type="number" placeholder="Index" #studentIndex />
<input type="number" placeholder="Matematyka" #studentMath />
<input type="number" placeholder="Programowanie" #studentProgramming />
<input type="number" placeholder="JS" #studentJS />
<input type="number" placeholder="AIOK" #studentAIOK />
<button (click)="editStudent()">Zapisz</button>
<button (click)="cancelEditingStudent()">Anuluj</button>