<div class="form">
<h2> Dodaj studenta</h2>
    <label for="name">Imię:</label>
    <input type="text" id="name" #newStudentName>
    <label for="surname">Nazwisko</label>
    <input type="text" id="surname" #newStudentSurname>
    <label for="index">Numer Indeksu</label>
    <input type="number" id="index" #newStudentIndex>
    
    <label for="math">Matematyka - ocena</label>
    <input type="number" id="math" #newStudentMath>
    <label for="programming">Programowanie - ocena</label>
    <input type="number" id="programming" #newStudentProgramming>
    <label for="js">JS - ocena</label>
    <input type="number" id="js" #newStudentJS>
    <label for="aiok">AIOK - ocena</label>
    <input type="number" id="aiok" #newStudentAIOK>

    <button (click)="onAddStudent()">Dodaj</button>
</div>