.oddRow {
  background-color: rgb(211, 211, 211);
}
.evenRow {
  background-color: beige;
}
button {
  margin: 5px;
}
.subjects {
  margin-bottom: 10px;
  background-color: #eee;
  width: fit-content;
  padding: 10px 50px;
  border-radius: 8px;
  border: 1px solid #333
  ;
}
